<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
  json[pageData] }) %>

  <body>
    <%- include(ejsPath + '/common/_header' ) %>
    <main>

      <%- include(ejsPath + '/component/_c-breadcrumb' ) %>

      <%- include(ejsPath + '/component/_c-section-head' ) %>

      <%- include(ejsPath + '/component/_c-btn' )  %>

      <%- include(ejsPath + '/component/_c-head') %>

      <%- include(ejsPath + '/component/_c-tab') %>


    </main>
    <%- include(ejsPath + '/common/_footer' ) %>
  </body>
</html>
