
<div class="c-card02">
  <div class="c-card02__head">
    <div class="c-card02__head-box">
      <div class="c-card02__head-meta">
        <p class="c-card02__head-age"><%= age %></p>
        <div class="c-card02__head-tag"><%= tag %></div>
      </div>
      <h2 class="c-card02__head-title">
        <%= title %>
      </h2>
    </div>
    <div class="c-card02__head-img">
      <img src="<%- image %>" alt="お客様の声">
    </div>
  </div>
  <div class="c-card02__body">
    <p><%= content %></p>
  </div>
</div>